# For Döngüsü

In [ ]:
for i in "İstanbul":
  print(i)


for i in range(5):
  print(i)

for i in range(0,5,1):
  print(i)

for i in range(5,0,-1):
  print(i)

bolum = 0
for i in range(15):
  if i % 3 == 0:
    bolum += 1
  else:
    continue
  print(f"{i} 3 ile tam bölünüyor")
print(bolum)


for i in range(1,100):
  if i % 3 == 0 and i % 19 == 0:
    print("Respect!")
    break
  elif i % 19 == 0:
    print("19' un katı")
  elif i % 3 == 0:
    print("3'ün katı")
  else:
    continue

# List

## List Slicing

## Change Items

## Add Items

## Remove Items

## Copy Lists

## Join Lists

## List Methods

In [1]:
#Ordered

#Changeable

#Allow Duplicates

bolumler = ["bil_müh", 0,"elek_müh", 1,"endüstri",2,"makine",3]

## List Slicing

In [2]:
bil = bolumler[0]

bil_and_id = bolumler[0:2]

print(bil, bil_and_id, sep="\n")

makine = bolumler[6]

makine_id = bolumler[-1]

print(makine, makine_id, sep="\n")

bil_müh
['bil_müh', 0]
makine
3

## Change Items

In [16]:
bolumler[0] = "bilgisayar müh"
bolumler[1] = -1
yazilim = bolumler[:4]
print(yazilim)

['bilgisayar müh', -1, 'elek_müh', 1]

## Add Items

### .append(item)

### .insert(index, item)

In [8]:
bolumler.append("çevre müh")
bolumler.append(4)

bolumler.insert(2, "inşaat müh")
bolumler.insert(3,5)

print(bolumler)

['bilgisayar müh', -1, 'inşaat müh', 5, 'elek_müh', 1, 'endüstri', 2, 'makine', 3, 'çevre müh', 4]

## Remove Items

### .remove(item)

### .pop()

### .pop(index)

### .clear()

### del list[index]

### del list

In [17]:
print(bolumler)

bolumler.remove("bilgisayar müh")
bolumler.remove(-1)

print(bolumler)

bolumler.pop()
bolumler.pop()

print(bolumler)

bolumler.pop(0)
bolumler.pop(0)

print(bolumler)

bolumler.clear()
print(bolumler)

bolumler = ["bil_müh", 0,"elek_müh", 1,"endüstri",2,"makine",3]

print(bolumler)

['bilgisayar müh', -1, 'elek_müh', 1, 'endüstri', 2, 'makine', 3]
['elek_müh', 1, 'endüstri', 2, 'makine', 3]
['elek_müh', 1, 'endüstri', 2]
['endüstri', 2]
[]
['bil_müh', 0, 'elek_müh', 1, 'endüstri', 2, 'makine', 3]

In [19]:
print(bolumler[3])
del bolumler[3]

print(bolumler[3])
del bolumler
print(bolumler)

endüstri
2

NameError: ignored

##Copy Lists

In [4]:
bolumler_copy = bolumler.copy()

print(bolumler_copy)

bolumler.pop()
bolumler.pop()

print(bolumler)
print(bolumler_copy)

['bil_müh', 0, 'elek_müh', 1, 'endüstri', 2, 'makine', 3]
['bil_müh', 0, 'elek_müh', 1, 'endüstri', 2]
['bil_müh', 0, 'elek_müh', 1, 'endüstri', 2, 'makine', 3]

## Join Lists

In [7]:
muh_bolumler = ["bil_müh", "elek_müh", "endüstri müh", "makine müh", "inşaat müh"]
bolum_id = [0,1,2,3,4]

müh_id1 = muh_bolumler + bolum_id

print(muh_bolumler)
print(bolum_id)
print(müh_id1)

muh_id2 = muh_bolumler.copy()
for i in bolum_id:
  muh_id2.append(i)

print(muh_id2)

muh_id3 = muh_bolumler.copy()
muh_id3.extend(bolum_id)
print(muh_id3)

['bil_müh', 'elek_müh', 'endüstri müh', 'makine müh', 'inşaat müh']
[0, 1, 2, 3, 4]
['bil_müh', 'elek_müh', 'endüstri müh', 'makine müh', 'inşaat müh', 0, 1, 2, 3, 4]
['bil_müh', 'elek_müh', 'endüstri müh', 'makine müh', 'inşaat müh', 0, 1, 2, 3, 4]
['bil_müh', 'elek_müh', 'endüstri müh', 'makine müh', 'inşaat müh', 0, 1, 2, 3, 4]

## List Methods

### append()	Adds an element at the end of the list
### clear()	Removes all the elements from the list
### copy()	Returns a copy of the list
### count()	Returns the number of elements with the specified value
### extend()	Add the elements of a list (or any iterable), to the end of the current list
### index()	Returns the index of the first element with the specified value
### insert()	Adds an element at the specified position
### pop()	Removes the element at the specified position
### remove()	Removes the item with the specified value
### reverse()	Reverses the order of the list
### sort()	Sorts the list

# Tuple

## Tuple Slicing

## Update Tuple

## Unpack Tuples

## Join Tuples

## Tuple Methods

In [ ]:
#ordered
#unchangeable
#allow duplicates

thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

## Tuple Slicing

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-1])
print(thistuple[2:5])
print(thistuple[3:])
print(thistuple[:4])

## Update Tuple

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)
#******************************************
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
#******************************************
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)
#******************************************
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
#******************************************
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

## Unpack Tuples

In [ ]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

#***********************************
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

#***********************************

fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

## Join Tuples

In [ ]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

#*******************************

fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

## Tuple Methods

### count()	Returns the number of times a specified value occurs in a tuple
### index()	Searches the tuple for a specified value and returns the position of where it was found

# Sets

## Access Items

## Add Items

## Remove Items

## Join Sets

## Set Methods

In [ ]:
#unordered
#unchangeable
#do not allow duplicates

thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

## Access Items

In [8]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

## Add Items

In [12]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

#****************************

thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

#***************************
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'orange', 'apple', 'banana', 'cherry'}
{'papaya', 'cherry', 'pineapple', 'apple', 'banana', 'mango'}
{'apple', 'kiwi', 'cherry', 'orange', 'banana'}

## Remove Items

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

#******************
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

#**********************
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)
#***********************
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)
#******************************
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

## Join Sets

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)
#***********************

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

#************************
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

#*************************
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

#**************************
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

#****************************
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)
#****************************

## Set Methods

### add()	Adds an element to the set
### clear()	Removes all the elements from the set
### copy()	Returns a copy of the set
### difference()	Returns a set containing the difference between two or more sets
### difference_update()	Removes the items in this set that are also included in another, specified set
### discard()	Remove the specified item
### intersection()	Returns a set, that is the intersection of two other sets
### intersection_update()	Removes the items in this set that are not present in other, specified set(s)
### isdisjoint()	Returns whether two sets have a intersection or not
### issubset()	Returns whether another set contains this set or not
### issuperset()	Returns whether this set contains another set or not
### pop()	Removes an element from the set
### remove()	Removes the specified element
###symmetric_difference()	Returns a set with the symmetric differences of two sets
### symmetric_difference_update()	inserts the symmetric differences from this set and another
### union()	Return a set containing the union of sets
### update()	Update the set with the union of this set and others

# Dictionaries

## Access Items

## Change Items

## Add Items

## Remove Items

## Copy Dictionaries

## Nested Dictionaries

## Dictionary Methods

In [ ]:
#ordered
#changeable
#do not allow duplicates

thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

## Access Items

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]


#************************

x = thisdict.get("model")
print(x)
#*************************

x = thisdict.keys()
print(x)

#***************************

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

#***************************
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

#*****************************
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

## Change Items

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

#*******************
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

## Add Items

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

#*********************

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})

## Remove Items

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

#********************

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

#*********************

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

#*************************
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict) #this will cause an error because "thisdict" no longer exists.

#************************
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

#******************************

## Copy Dictionaries

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

#************************

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

## Nested Dictionaries

In [ ]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

#*********************************

child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

## Dictionary Methods

### clear()	Removes all the elements from the dictionary
### copy()	Returns a copy of the dictionary
### fromkeys()	Returns a dictionary with the specified keys and value
### get()	Returns the value of the specified key
### items()	Returns a list containing a tuple for each key value pair
### keys()	Returns a list containing the dictionary's keys
### pop()	Removes the element with the specified key
### popitem()	Removes the last inserted key-value pair
### setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
### update()	Updates the dictionary with the specified key-value pairs
### values()	Returns a list of all the values in the dictionary